img{
	max-width: 100%;
}
body{
	max-width:1000px;
	margin: auto;
}

.menu{
	text-align: center;
	border: 0px solid black;
}

.menu a{
	padding: 30px;
	text-decoration: none;
	color: brown;
	font-size: 20px;
}

.photo1, .photo2{
	width:300px;
	float: left;
	margin: 15px;
	border: 1px solid #ddd
}

.photo1:hover {
	animation: fadein 6s;
}

.photo2:hover {
	animation: fadeout 6s;
}

@keyframes fadein {
	from {
		opacity: 0;
}	

to {
	opacity: 1;
 }
}

@keyframes fadeout {
	from {
		opacity: 1;
}	

to {
	opacity: 0;
 }
}

#text {
	position: relative;
	text-align: right;
	animation-name:dich_chuyen;
	animation-duration: 6s;
	clear: both;
	}
@keyframes dich_chuyen {
	0% {right: 0px;}
	25% {right: 150px;}
	50% {right: 250px;}
	75% {right: 350px;}
	100% {right:500px;}

	from{
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}