*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
 }
 @font-face {
    font-family: a;
    src: url(font/RalewayThin.ttf);
}
@font-face {
    font-family: b;
    src: url(font/Montserrat-Light.ttf);
}
@font-face {
    font-family: c;
    src: url(font/DancingScript-Regular.ttf);
}
 body {
    margin: auto;
 }
 .header {
    height: 100px;
    background-color: #232020;
    position: relative;
 }
 .container-header {    
 max-width: 1200px;
 margin: auto;
}
 .logo-brand {
    font-family: a;
    font-weight: normal;
    font-size: 30px;
    color: #e5dfd9;
    width: 160px;
    float: left;
    margin-top: 2px;
    margin-left: 0px;
}
.menu-centre {
    width: 730px;
    margin: auto;
    padding-left: 85px;
    padding-top: 32px;
}
 .nav{
        background-color:  #232020;
        margin: auto;
        margin-left: 27px;
    }

    .nav>li{
        float: left;
        margin-right: 15px;
    }
    
    .nav>li>a{
        text-transform: uppercase;
        color:  #e5dfd9;
    }

    .nav li{
        position: relative;
        list-style-type: none;
    }

    .nav li a{
        padding: 10px;
        line-height: 20px;
        display: inline-block;
        text-decoration: none;
        color:  #e5dfd9;
        font-family: b;
        opacity: 1;
        transition: opacity 0.5s linear;
    }
    .nav li:hover a {
        opacity: 0.5;
    }
    .nav .sub-menu{
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
        width: 200px;
        background-color: #ffffff;
        padding: 5px 20px;
        z-index: 30;
    }
    .nav .sub-menu li a {
        color: black;
        opacity: 1;
        transition: opacity 0.5s linear;
    }
    .sub-menu li:hover a {
        opacity: 0.5;
    }
    
    .nav li:hover>.sub-menu{
        display: block;
    }

    .nav>li>.sub-menu{
        top: 40px;
        left: 0;
    }
      .header.fix {
         left: 0;
  max-width: 100%;
  overflow: visible;
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1000;
    }
    .nav-menu-right{
    float: right;
    margin-right:110px;
    margin-top: 14px;
}
.nav-menu-right li {
    float: left;
    margin-left: 10px;
    list-style-type: none;
}
.nav-menu-right li a {
    text-decoration: none;
    color: #e5dfd9;
    font-family: b;
    opacity: 1;
    transition: opacity 0.5s linear;
}
.nav-menu-right li:hover a {
    opacity: 0.5;
}
.nav-menu-right li img {
    width: 69%;
}
.search {
    width: 28px;
}
.buy {
    width: 28px;
}

.content-product {
    font-family: a;
    text-align: center;
    padding-top: 210px;
    font-size: 30px;
}
.line-content {
        border-top-color: rgb(139, 139, 139);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(139, 139, 139);
    border-right-style: initial;
    border-right-width: 0px;
    border-bottom-color: rgb(139, 139, 139);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(139, 139, 139);
    border-left-style: initial;
    border-left-width: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    display: block;
    height: 2px;
    border-right-width: 0px;
    border-right-style: initial;
    border-right-color: rgb(139, 139, 139);
        border-left-width: 0px;
    border-left-style: initial;
    border-left-color: rgb(139, 139, 139);
        margin-top: 25px;
    margin-right: auto;
    margin-bottom: 25px;
    margin-left: auto;
        width: 180px;
        border-color: #8b8b8b;

}
.column-select {
    float: right;
    text-align: right;
    margin-top: 20px;
    margin-right: 80px;
}
.inline {
    text-transform: uppercase;
    font-size: 13px;
        font-weight: bold;
    font-family: a;
}
#sort-by {
    padding-top: 10px;
    padding-right: 9px;
    padding-left: 9px;
    padding-bottom: 8px;
    width: 200px;
    border-radius: 3px;
    border: 1px solid #d9dbdc;
}

.wrap-product {
    height: 1700px;
    width: 1200px;
    margin: auto;
}
.column-product {
    float: left;
    padding-top: 150px;
}

.photo-product {
    float: left;
    width: 300px;
}
.photo-product img {
    width: 90%;
    opacity: 1;
    transition: 0.5s linear;
}
.photo-product:hover img {
    opacity: 0.5;
}

.photo-product a {
    text-decoration: none;
    text-align: center;
    color: black;
    font-family: b;

}
.footer {
    height: 340px;
    background-color: #232020;
    position: relative;  
    margin-top: 80px;      
}
.column1 {
    float: left;
    width: 35%;
    padding: 60px;
}

.follow {
    color:  #e5dfd9;
    font-family: b;
    font-size: 20px;
    left: 100px;
    top: 50px;
}
.fb-icon {
    font-size: 40px;
    color: #dddde9;display: inline-block;
}

.fb-icon img{
    width: 15%;
}

.insta-icon {
    display: inline-block;
    font-size: 40px;color: aliceblue;
    padding: 10px;
}
.insta-icon img{
    width: 8%;
}

.youtube-icon{
    font-size: 40px;
    color: #f4f2f2;
    display: inline-block;padding: 10p;
    padding: 0px;
}
.youtube-icon img {
    width: 7%;
}
.column2 {
    float: left;
    width: 65%;
    padding: 60px;
}
.footer-menu {
list-style-type: none;
}
.footer-menu li{
    float: left;
    color: #e5dfd9;
    font-family: b;
    padding: 15px;
}
.footer-menu a {
    text-decoration: none;
    color: #e5dfd9;
    font-family: b;
}

.email-input {
    padding: 18px;
    margin-top: 110px;
}
.contact-email {
    width: 460px;
    height: 40px;
    border-radius: 2px;
    padding-left: 20px;
}
.sign-up{
    background-color: #0e0b0b;
    color: #ffffff;
    font-size: 15px;
    padding-top: 11px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 14px;
    border-radius: 2px;
}
.footer__wrap {
    max-width: 1200px;
    margin:auto;
}